<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Team name</th>
      <th>Vendor</th>
      <th>Reader</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.user.username %></td>
        <td>
          <% TeamUser.find_all_by_team_id(team.id).each do |reader|%>
          <%= reader.user.first_name %>,
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
