<% if @teams.empty? %>
<p>Sorry! No Vendor there...</p>
<% else %>
<table border cellpadding = "12" >
  <thead>
    <tr>
      <th>Team name</th>
      <th>Vendor</th>
      <th>Reader</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.user_role.name %></td>
        <td>
          <% TeamUser.find_all_by_team_id(team.id).each do |reader|%>
          <%= reader.user_role.name %>,
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>