<table border>
  <% @dtc.each do |dtc| %>
    <tr>
	 <td><%= dtc %>-<%= @consumers.find_by_dtc(dtc).bu %>-<%= @consumers.find_by_dtc(dtc).pc %></td>
	<td>
     <% @consumers.where("dtc LIKE ?",dtc).each do |c| %>
	  <%= c.name %>,
     <% end %></td>
	</tr>
  <% end %>
</table>



