<h1>Listing dtc_staffs</h1>

<table>
  <thead>
    <tr>
      <th>DTC</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%  @readings.each do |reading| %>
      <tr>
        <td><%= reading.pc %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dtc staff', new_dtc_staff_path %>
