<% if @readings.empty? %>
No results found!
<% else %>
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <tr>
      <th>Reader</th>
      <th>Reading Counts</th>
    </tr>
  
   <% @readings.each do |r| %>
   <% reader = Reading.find_by_user_id(r)%>
   <% count = Reading.find_all_by_user_id(r).count %>
   <tr>
    <td><%= reader.read_by %></td>
    <td>
    <%= link_to count ,search_by_reader_path(:search => reader.user.first_name) %>
    </td>
   </tr>
  <% end %>

   
   
 
</table>
 <a href="<%= search_by_date_summary_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> 

<% end %>