<p id="notice"><%= notice %></p>
<p>
  <p>Meter reading</p>
      <p>consumer_no</p>
      <p>Meter Status</p>
      <p>>date time</p>
      
      <p>Ime No</p>
      <p>Old Meter No</p>
      <p>New Meter No</p>
      <p>Bu</p>
      <p>Pc</th>
      <th>Dtc</th>
      <th>Bill Month</th>
      <th>Pole No</th>
      <th>Consumer Name</th>
      <th>Bill Month</th>
      <th>Pole No</th>
      <th>Consumer Name</th>
      <th>reader Mobile No</th>
      <th>Meter Reader status</th>
      <th>Remark</th>
      <th>Read By</th>
      <th>Pincode</th>
      <th>Address</th>
</p>

<p>
  <%= link_to 'Edit', edit_owner_path(@owner) %>|
  <%= link_to "Destroy", @owner, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All",owners_path %>
</p>