<style type="text/css">
#ui-datepicker-div{
  z-index: 1100  !important;
}
</style>
  <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Reader Tracking Report</h3>
          </div> <!-- /widget-header -->
        
             <div class="widget-content">
<%= form_tag user_tracking_report_path, :method => 'get' do %>

<table cellpadding = 4>
  <tr>
    <td>Reader : </td>
    <td><%= text_field_tag :reader %></td>
  </tr>
  <tr>
    <td>Date From :</td>
    <td><input type="text_field" class="date_time" name="start_date" id="start_date"></td>
  </tr>
  <tr>
    <td>Date To :</td> 
    <td><input type="text_field" class="date_time1" name="end_date" id="end_date"></td>
  </tr>
</table>

<br/>
<%= submit_tag "Search" ,:class =>"btn btn-primary"%>
<% end %>



</div>  
</div>
</div>
</div>