  <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Assign DTC</h3>
          </div> <!-- /widget-header -->
        
             <div class="widget-content">

<%= render 'form' %>

<%= link_to 'Back', dtc_staffs_path %>
</div>  
</div>
</div>
</div>
