<table class="profile" summary="Profile Information"> 
	<tr>
		<td class ="main">
			

			</td>
			<td class="sidebar round">
				<strong>User Name </strong>    <%= current_user.username %><br/><br/><br/>
				
				
				<a href="/users/<%= current_user.id%>/edit" >Edit</a><br>
				
			</td>
	</tr>

</table>



