<div class="footer">

    	<div class="container">

    		<div class="row">
          
    			<div id="footer-copyright" class="span6">
    				&copy; 2013-14 Kunal Infotech Pvt. Ltd. Meter Reading
    			</div> <!-- /span6 -->



    		</div> <!-- /row -->

    	</div> <!-- /container -->

    </div>