  <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Meter Status</h3>
          </div> <!-- /widget-header -->
        
             <div class="widget-content">


<p>
  <strong>Billing meter status:</strong>
  <%= @meter_status.billing_meter_status %>
</p>


</div>  
</div>
</div>
</div>
