#count {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    border-radius: 3px 3px 3px 3px;
    bottom: 55px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    position: fixed;
    left: 20px;
    text-align: center;
    width: auto;
    z-index: 9999;
	color:#FFFFFF;
	padding:10px
}
#count:hover {
    background: none repeat scroll 0 0 rgba(255, 153, 0, 0.75);
    text-decoration: none;
}


.map_container {
    border-color: #CCCCCC #CCCCCC #999999;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 5px rgba(64, 64, 64, 0.1);
    margin: 10px auto;
    padding: 5px;
    width: 390px;
}